.navbar {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: rgb(245, 245, 74);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 6px auto;
    transition: all 0.3s ease-in-out;
    background-color: #362029;
}


@media only screen and (max-width: 376px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    header {
        background-color: #ebe1d2;
        width: 100%;
    }

    .indexbody {
        background-image: url(pictures/backgroundfirst1.png);
        background-position: 14% 86%;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        width: 100vw;
    }

    li {
        list-style: none;
    }

    nav li a {
        color: white;
        text-decoration: none;
        font-size: 1em;
    }

    .logo1 {
        height: 3em;

    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        background-color: #362029;
        width: 375px;
        text-align: center;
        transition: 0.3s;
    }



    .index {
        width: auto;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .indexbody h1 {
        position: fixed;
        left: -100%;
        opacity: 0;
    }

    .theart {
        margin: 1em 11px 10px 1em;
        color: black;
        text-shadow:
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white;
        font-family: 'Libre Baskerville', serif;
        font-size: 1.4em;
        width: 320px;
    }

    .upcycli {
        margin: 1em 10px 0 20px;
        color: #E1A919;
        font-size: 1.6em;
        text-shadow:
            -1px -1px 0 black,
            2px -2px 0 black,
            -2px 2px 0 black,
            2px 2px 0 black;
        font-family: 'Oxygen', sans-serif;
    }

    .afval {
        margin: 1em 1.3em 0 1.5em;
        color: #98607e;
        text-shadow:
            -1px -1px 0 rgb(0, 0, 0),
            1px -1px 0 rgb(0, 0, 0),
            -1px 1px 0 rgb(92, 60, 60),
            1px 1px 0 black;
        font-family: 'Libre Baskerville', sans-serif;
        text-align: right;
    }

    .zakjes {
        display: inline-block;
        position: relative;
        top: -250px;
        right: -135px;
        height: 240px;

    }

    .kunstendecor {
        margin: 6.5em 0 2em 3em;
        display: block;
        width: 300px;
        text-align: right;
        font-size: 1.3em;
        font-family: 'Bitter', serif;

    }

    .index p:nth-of-type(1) {
        font-family: 'Libre Baskerville', serif;
        font-size: 0.9em;
        margin-left: 7em;
        margin-top: 3em;
        padding-left: 8em;
        padding-right: 1em;
        width: 260px;
    }

    .index p:nth-of-type(2) {
        font-family: 'Libre Baskerville', serif;
        font-size: 0.9em;
        margin-left: 6em;
        margin-right: 0;
        padding-right: 1em;
        width: 270px;
    }

    .waarom {
        font-family: 'Libre Baskerville', serif;
        font-size: 1em;
        margin-left: 3.6em;
        margin-top: 6.7em;
        padding-right: 2em;
        width: 100px;
        display: inline-block;
        position: relative;
        top: -17px;
    }

    .index p:nth-of-type(4) {
        font-family: 'Libre Baskerville', serif;
        font-size: 1em;
        padding-right: 1em;
        width: 100%;
        display: inline-block;
        position: relative;
        top: -150px;
        text-align: center;
        padding-left: 3em;
    }

    .cdcollage {
        display: inline-block;
        position: relative;
        top: -60px;
        right: 0px;
        height: 320px;
        width: 360px;

    }

    .watis {
        display: block;
        width: 300px;
        text-align: right;
        padding: 0;
        margin: 0;
        margin-left: 2em;
        position: relative;
        top: -180px;
        text-align: center;
        font-size: 1.5em;

    }

    .index p:nth-of-type(5) {
        font-family: 'Acme', sans-serif;
        font-size: 1.7em;
        margin-left: 4em;
        display: inline-block;
        position: relative;
        top: 150px;
        text-align: center;
        font-weight: 800;
        width: 250px;

    }

    .doppen {
        max-height: 500px;
        position: relative;
        top: 170px;
        right: -15px;
    }


    .index p:nth-of-type(6) {
        font-family: 'Libre Baskerville', serif;
        font-size: 0.9em;
        margin-left: 4em;
        padding-right: 1em;
        display: inline-block;
        position: relative;
        top: -300px;
        right: -180px;
        text-align: center;
        width: 130px;
    }

    .index p:nth-of-type(7) {
        font-family: 'Libre Baskerville', serif;
        font-size: 0.9em;
        margin-left: 4em;
        padding-right: 1em;
        display: inline-block;
        position: relative;
        top: -340px;
        right: -180px;
        text-align: center;
        width: 130px;
    }

    .rave {
        position: relative;
        top: -50px;
        right: 10px;
    }

    .bottle {
        height: 230px;
        position: relative;
        top: -30px;
        right: 0px;
    }

    footer {
        display: block;
        height: 5em;
        width: 100%;
        background-color: #362029;
        margin-top: 1em;
    }

    /*second page */
    .theupcyclebody {
        background-image: url(pictures/backgroundsecond.png);
        background-repeat: no-repeat;
        background-size: cover;

    }

    .theupcycling img {
        height: 15em;
    }

    div.scroll-container {
        background-color: #6C2E4F;
        overflow: auto;
        white-space: nowrap;
        padding: 10px;
        position: relative;
        top: -20px;
    }

    div.scroll-container img {
        padding: 10px;
    }

    .theupcycling h1 {
        color: #d8aabd;
        text-shadow:
            -2px -2px 0 #362029,
            1px -1px 0 #362029,
            -1px 1px 0 #362029,
            1px 1px 0 #362029;
        font-family: 'Libre Baskerville', serif;
        font-size: 1.4em;
        text-align: right;
        width: 330px;
        margin-left: 1.5em;
        margin-top: 1em;
    }

    .theupcycling p {
        color: #ebe1d2;
        font-size: 1em;
    }

    .theupcycling h2 {
        color: #FDEDD1;
        font-family: 'Bitter', serif;
        margin-top: 2.5em;
        margin-left: 2em;
        font-size: 1.5em;
    }

    .theupcycling p:nth-of-type(1) {
        font-size: 0.7em;
        margin-left: 2em;
        margin-top: 0.5em;
        font-family: 'Libre Baskerville', serif;
    }

    .theupcycling p:nth-of-type(2) {
        font-size: 0.8em;
        margin-left: 2em;
        margin-top: 0.5em;
        font-family: 'Libre Baskerville', serif;
        width: 300px;
        text-align: center;
    }

    img.theupcyclestore {
        height: 13.5em;
        margin-top: 2em;
        margin-left: 2.5em;
        margin-right: 0.1em;

    }

    .theupcyclestorecontainer {
        display: inline-block;
        background-color: #6C2E4F;
        height: 16em;
        width: 12.7em;
        margin-left: 10.5em;
    }

    h2.wonderwasteland {
        margin-top: 0;
        font-size: 1em;
        width: 180px;
        position: relative;
        top: 110px;
        right: 30px;
        text-align: center;
        font-family: 'Oxygen', sans-serif;
    }

    .containeryellow {
        margin: 0;
        display: inline-block;
        height: 50px;
        width: 50px;
        background-color: #e4ae26;
        position: relative;
        top: -10px;
        right: -150px;
    }

    .candlescontainer {
        display: inline-block;
        background-color: #6C2E4F;
        height: 14em;
        width: 13em;
    }



    h3.onlinestore {
        font-size: 1.5em;
        width: 375px;
        text-align: center;
        font-family: 'Oxygen', sans-serif;
        color: #FDEDD1;
        margin-top: 0;
    }

    a.theupcyclenl {
        color: #FDEDD1;
        width: 375px;
        text-align: center;
        margin-left: 160px;
        margin-top: 5em;
    }

    p.onlinestores {
        font-size: 1em;
        margin-top: 0.7em;
        width: 280px;
        margin-left: 4em;
    }

    p.onlinestores2 {
        font-size: 1em;
        width: 250px;
        margin-left: 5em;
    }

    p.onlinestores3 {
        font-size: 1em;
        width: 160px;
        margin-left: 6.5em;
        text-align: right;
        margin-bottom: 1em;
    }

    img.candles {
        height: 12em;
        margin-top: 1em;
        margin-left: 1em;
    }

    img.wooderboard {
        margin-top: 1em;
        height: 11em;
        margin-left: 1.5em;
    }

    .boardcontainer {
        display: inline-block;
        background-color: #6C2E4F;
        height: 13em;
        width: 17em;
        margin-left: 6.5em;
    }

    p.workshops1 {
        color: #FDEDD1;
        font-size: 0.8em;
        width: 270px;
        margin-left: 4em;
        text-align: right;
        margin-top: 1em;
        font-family: 'Libre Baskerville', serif;
        position: relative;
        top: 15px;
    }

    .theupcycling a:nth-of-type(2) {
        color: #FDEDD1;
        width: 375px;
        text-align: center;
        margin-left: 8em;
        font-size: 1.5em;
        margin-top: 0.5em;
        margin-bottom: 2em;
        font-family: 'Oxygen', sans-serif;
    }

    .containeryelloww {
        margin: 0;
        display: inline-block;
        height: 50px;
        width: 50px;
        background-color: #e4ae26;
        position: relative;
        top: -360px;
        right: 100px;

    }

    /* Third page */
    .workshops {
        background-image: url(pictures/backgroundthird.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .workshopmain img {
        width: 49.4%;
        margin-top: 1em;
    }

    .workshopmain h1 {
        margin: 1em 10px 0 0;
        color: #E1A919;
        font-size: 1.8em;
        text-shadow:
            -1px -1px 0 black,
            2px -2px 0 black,
            -2px 2px 0 black,
            2px 2px 0 black;
        font-family: 'Oxygen', sans-serif;
        width: 100%;
        padding-left: 3em;
    }

    .workshopmain h2:nth-of-type(1) {
        font-size: 1.5em;
        font-family: 'Oxygen', sans-serif;
        width: 210px;
        color: #ebe1d2;
        margin: 1em 0 0 6em;
    }

    .workshopmain p:nth-of-type(1) {
        font-size: 1em;
        margin-left: 4.3em;
        margin-top: 8em;
        font-family: 'Poppins', sans-serif;
        width: 300px;
        text-align: center;
        color: #FDEDD1;
    }

    .workshopmain h3 {
        font-family: 'Oxygen', sans-serif;
        color: #E1A919;
        font-size: 1.3em;
        width: 100%;
        text-align: center;
        font-weight: 800;
        margin-top: 2em;
        margin-bottom: 1em;
    }

    .containerearings {
        width: 100%;
        height: 250px;
        background-color: #E1A919;
    }

    .workshopmain p:nth-of-type(2) {
        font-size: 0.8em;
        padding: 0 4em 0 4em;
        margin-top: 2em;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        text-align: center;
        color: #FDEDD1;
    }

    img.beltstire {
        width: 100%;
        margin-top: 1.5em;
    }

    .containerearings1 {
        width: 100%;
        height: 270px;
        background-color: #E1A919;
    }

    .workshopmain p:nth-of-type(3) {
        font-size: 0.8em;
        padding: 0 4em 0 4em;
        margin-top: 2em;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        text-align: center;
        color: #FDEDD1;
    }

    .workshopmain p:nth-of-type(4) {
        font-size: 0.8em;
        padding: 0 4em 0 4em;
        margin-top: 1em;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        text-align: center;
        color: #FDEDD1;
    }

    .workshopmain p:nth-of-type(5) {
        font-size: 1em;
        padding: 0 3em 0 3em;
        margin-top: 5em;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        text-align: center;
        color: #FDEDD1;
    }

    footer a {
        color: white;

    }
    .containerfamily {
        display: flex;
        align-items: center;
  justify-content: space-around;
        width: 100%;
        height: 100px;
        flex-direction: row;
        background-color: white;
    }
    .containerfamily a {
        color: #060604;
        font-size: 1.5em;
        font-family: 'Libre Baskerville', serif;

    }

    /* forth image */

    .doityourself {
        background-image: url(pictures/backgroundforth.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .doityourself h2 {
        color: black;
        font-size: 1.5em;
        font-family: 'Oxygen', sans-serif;
        margin-top: 0.5em;
        width: 100%;
        padding-left: 5em;
        font-weight: 500;
        text-align: right;
        padding-right: 1em;
    }

    .doityourself h1 {
        color: #5b3042;
        font-size: 1.8em;
        font-family: 'Libre Baskerville', serif;
        margin-top: 0.2em;
        width: 100%;
        padding-left: 1em;
        font-weight: 900;
        padding-right: 0.8em;
    }

    .introd {
        font-size: 1em;
        padding: 1em 3em 0 1em;
        margin-top: 5em;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        text-align: center;
        color: #12110e;
        font-weight: 700;
    }

    .doityourself h2:nth-of-type(2) {
        font-family: 'Acme', sans-serif;
        padding-left: 3em;
        padding-right: 2em;
    }

    .doityourself h3 {
        font-family: 'Oxygen', sans-serif;
        color: #060604;
        width: 100%;
        text-align: center;
        font-weight: 800;
        margin-top: 2em;
        margin-bottom: 0.2em;
        font-size: 1.4em;
    }
.difficulty {
    font-family: 'Acme', sans-serif; 
    width: 100%;
    font-size: 0.9em;
    text-align: center;
}
.wathebiknodig {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-size: 1em;
    text-align: left;
    font-weight: 700;
    padding-left: 0.5em;
    padding-top: 0.5em;
}
.doityourself main img {
 width: 49%; 
 margin-top: 10px;

}
.containerproducts {
    width: 100%;
    height: 270px;
    background-color: #6C2E4F;
    margin-top: 10px;
}
.doityourself .pindakaas {
    width: 90%;
    justify-content: center;
    padding-left: 37px;
}
.containerproducts1 {
    height: 250px;
    width: 100%;
    background-color: #6C2E4F;
    margin-top: 10px;
}
.containerproducts3 {
    height: 250px;
    width: 100%;
    background-color: #6C2E4F;
    margin-top: 10px;
    display: flex;
    justify-content: center;

}
.containerproducts3 img {
    width: 50%;
    margin: 0.5em 0 0.5em 0;
}
.containerproducts4 {
    height: 250px;
    width: 100%;
    background-color: #6C2E4F;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.containerproducts4 img {
    width: 50%;
    margin: 0.5em 0 0.5em 0;
}
.containerproducts5 {
    height: 250px;
    width: 100%;
    background-color: #6C2E4F;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.doityourself main .containerproducts5img {
    width: 80%;
    margin: 0.5em 0 0.5em 0;
}

.containerproducts6 {
    height: 250px;
    width: 100%;
    background-color: #6C2E4F;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.containerproducts6 img {
    width: 45%;
    margin: 0.5em 0 0.5em 0;
}
.containerproducts7 {
    height: 250px;
    width: 100%;
    background-color: #6C2E4F;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.containerproducts7 .containerproducts7img {
    width: 75%;
    margin: 0.5em 0 0.5em 0;
}
.containerproducts8 {
    width: 100%;
    height: 250px;
    background-color: #6C2E4F;
    margin-top: 10px;
}
.containerproducts8 img {
    width: 49%;
    margin: 0.5em 0 0.5em 0;
}

.instructions {
    font-size: 1em;
        padding: 1em 1.5em 0 1.5em;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        text-align: center;
        color: #12110e;
        font-weight: 500
}
.doityourself h4 {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-size: 1.2em;
    text-align: left;
    font-weight: 600;
    padding-left: 0.5em;
    padding-top: 0.5em;
    margin-top: 1em;
}
.containerstat1 {
    display: flex;
justify-content: center;
width: 170px;
flex-direction: column;
margin-top: 2em;
padding-bottom: 1.5em;
}
.containerstat2 {
    display: flex;
justify-content: center;
width: 170px;
flex-direction: column;
margin-top: 2em;

}
.containerstat3 {
    display: flex;
justify-content: center;
width: 100%;
flex-direction: column;
margin-top: 0.5em;

padding: 0 4em 0 4em;
}
.containerstat1 h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-align: center;
}
.containerstat2 h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-align: center;
}
.containerstat3 h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-align: center;
}
.containerstatmain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    margin-top: 10em;
}
.containerstat1 p {
    text-align: center;
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}
.containerstat2 p {
    text-align: center;
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.containerstat3 p {
    text-align: center;
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
}